
/* esto es un comentario */
/* idea genial para poner bordes a las letras */
body {text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;
}


h1 { 
  margin: 50px; 
  font-family: Verdana;
  color: rgb(194, 142, 31);
  text-align: center;
  font-size: 70px;
}

h2 {
  margin: 35px; 
  font-family: Verdana;
  color: rgb(199, 231, 81);
  text-align: center;
  font-size: 50 px;
}

h3 {
  margin: 25px; 
  font-family: Verdana;
  color: rgb(199, 231, 81);
  text-align: center;
  font-size: 30px;
}

p {
  margin-left: 25px; 
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  text-align: center;
}

ul {
  padding: 0px;
  margin: 0px;
  height:fit-content;
  min-width: fit-content;
}


li {
  margin: 25px;
}


/* aclara el fondo del link cuando pasas sobre él */
li a:hover {
  background-color: rgb(63, 63, 63);
  color: white;
}

/* para el boton de ir a inicio */
.rounded-pill{
  background-color: rgba(204, 0, 255, 0.356);
  text-align: center;
  float: none;
  padding: 20px;
  margin: 20px; 
  color: #fff;
  text-decoration: none;
}

a{
  margin: 0;
  padding: 0;
  text-align: center;
}

footer p {
  font-size: 7px;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#collapsibleNavbar {
  padding: 0px;
  margin: 0%;
 height:fit-content;
 width: 200 px;
}

#seccion_informacion_personal {
  padding-top:100px;
  margin: 20px;
  color: #fff; 
  background-image: url("imagenes/georgeinfpers.jpg") ;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
#seccion_experiencia {
  padding-top:100px;
  margin: 20px;
  color: #fff;
  background-image: url("imagenes/georgeexperiencia.jpg") ;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;  
}

#seccion_habilidades {
  padding-top:100px;
  margin: 20px;
  color: #fff; 
  background-image: url("imagenes/georgegolf.png") ;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#seccion_contacto {
  padding-top:100px;
  color: #fff; 
  background-color: #000000;
}

#creador {
  font-size: 5px;
}