
/* esto es un comentario */
/* idea genial para poner bordes a las letras */
body {text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;
}


h1 { 
  margin: 50px; 
  font-family: Verdana;
  font-weight: 50;
  color: rgb(194, 142, 31);
  text-align: center;
  font-size: xx-large;
}

h2 {
  margin: 35px; 
  font-family: Verdana;
  font-weight: 50;
  color: rgb(199, 231, 81);
  text-align: center;
  font-size: x-large;
}

h3 {
  margin: 25px; 
  font-family: Verdana;
  font-weight: 50;
  color: rgb(199, 231, 81);
  text-align: center;
  font-size: large;
}

p {
  margin-left: 25px; 
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 50;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: medium;
}

li {
  margin: 25px;
}


/* aclara el fondo del link cuando pasas sobre él */
li a:hover {
  background-color: rgb(63, 63, 63);
  color: white;
}

.rounded-pill{
  background-color: rgba(204, 0, 255, 0.356);
  text-align: center;
  float: none;
  
}

a{
  padding: 20px;
  margin: 20px; 
  color: #fff;
  text-decoration: none;
  text-align: center;
}

span{
  font-size: xx-small;
}
.container-sm{
  text-align: center;
}

.navbar-toggler{
  width: 100%;
  float: none;
}

#seccion_informacion_personal {
  padding-top:100px;
  margin: 20px;
  color: #fff; 
  background-image: url("imagenes/georgeinfpers.jpg") ;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
#seccion_experiencia {
  padding-top:100px;
  margin: 20px;
  color: #fff;
  background-image: url("imagenes/georgeexperiencia.jpg") ;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;  
}

#seccion_habilidades {
  padding-top:100px;
  margin: 20px;
  color: #fff; 
  background-image: url("imagenes/georgegolf.png") ;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#seccion_contacto {
  padding-top:100px;
  color: #fff; 
  background-color: #000000;
}
